@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Noto Sans, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.front-header {
  background-color: var(--background);
  /*color: var(--foreground);*/
  color: aquamarine;
  font-family: Noto Sans, sans-serif;
  font-weight: 900;
  font-size: 8rem;
}

.background-block{
  background: rgba(239,226,206, 0.8);
  color: black;
  padding: 30px;
  padding-top: 20px;
  border-radius: 20px;
  margin-right: 0px;
}

